@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #46ced0  ;
    --secondary-color: #002E4D ;
    --accent1-color: #E06638;
    --accent2-color: #F4C29F;
  
    /* change the values below to your chosen font(s) */
    --heading-font: Quantico, Alegreya, Helvetica;
    --paragraph-font: Alegreya, Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #002E4D ;  /* headlines on a white background */ 
    --headline-color-on-color: #F4C29F; /* headlines on a colored background */ 
    --paragraph-color-on-white: #002E4D ; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #F4C29F; /* paragraph text on a colored background */ 
    --paragraph-background-color: #002E4D  ;
    --nav-link-color: #F4C29F;
    --nav-background-color: #002E4D;
    --nav-hover-link-color: #002E4D;
    --nav-hover-background-color: #1da3a6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

p{
    font-family: var(--paragraph-font);
}


body {
    background-color: #46ced0;
    margin: 0 auto;
}

header{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    text-align: center;
    background-color: #F4C29F;
}

#header-logo{
    width: 150px;
    grid-column: 1;
}
#game-links{
    grid-column: 2;
    display: flex;
    justify-content: space-evenly;
    padding-top: 60px;
}

#game-links a{
    color: #002E4D;
    text-decoration: none;
    font-family: Quantico, Alegreya, Helvetica;
    font-size: 1.5em;
}

#search {
    margin: 0 auto;
    margin-top: 60px;
}

#catan-card{
    margin: 0 auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    width: 75%;
    background-color: #002E4D;
    color: #E06638;
}

#catan-card img{
    width: 600px;
    grid-column: 1;
    grid-row: 1 / span 2;
    padding: 20px;
}

#catan-card h2{
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    font-size: 3em;
    align-self: center;
}

#catan-card p{
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    font-size: 1.25em;
    padding-left: 15px;
    padding-right: 35px;
}

#game-peices{
    display: grid;
    grid-template-rows: 200px 1fr 1fr 1fr;
    text-align: center;
    margin-top: 100px;
    align-items: center;
    color: #002E4D;
}

#game-peices h1 {
    grid-row: 1;
    font-size: 4em;
}

#top-row {
    grid-row: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#middle-row {
    grid-row: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.game-peice img {
    width: 250px;
}

.game-peice p{
    font-size: 1.5em;
}

#island-edge img{
    width: 350px;
}

#how-to-play-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 3fr;
    text-align: center;
    color: #002E4D;
    align-items: center;
}

#how-to-play-cards h1{
 grid-row: 1;
 grid-column: 1 / span 2;
 font-size: 2.5em;
}

div h2 {
    font-size: 2em;
}

div p{
    font-size: 1.75em;
}

#step1{
    grid-row: 2;
    grid-column: 1 / span 2;
    background-color: #E06638;
    width: 250px;
    justify-self: center;
}

#step2{
    grid-row: 3;
    grid-column: 1;
    background-color: #E06638;
    width: 400px;
    margin-left: 400px;
    justify-self: center;
    height: 100%;
}

#step3{
    grid-row: 3;
    grid-column: 2;
    background-color: #E06638;
    width: 400px;
    justify-self: center;
    height: 100%;
    margin-right: 400px;
}



footer{
    display: flex;
    justify-content: space-evenly;
    color: #002E4D;
}